<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>KeyMG - Key Management System</display-name>
  <description>
    Key Management System
  </description>

   <servlet>
     <servlet-name>KeyMGServlet</servlet-name>
     <servlet-class>org.keymg.web.servlets.KeymgServlet</servlet-class>
     <init-param>
        <param-name>serverID</param-name>
        <param-value>1</param-value>
     </init-param>
     <!--
     <init-param>
        <param-name>policyStoreName</param-name>
        <param-value>SOME_POLICY_STORE_FQN</param-value>
     </init-param>
     -->
   </servlet>

   <servlet-mapping>
      <servlet-name>KeyMGServlet</servlet-name>
      <url-pattern>/keymg/</url-pattern>
   </servlet-mapping>

   <!-- Define your security constraints -->

   <!-- Define your login config (preferably CLIENT-CERT)  -->

   <!-- Define your roles -->

</web-app>
